.profile {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  padding-bottom: 40px;
}

.profile img {
  border: 4px solid rgb(184 223 216 / 100%);
  border-radius: 50px;
  width: 100px;
  height: 100px;
  margin-right: 24px;
}

.person {
  display: flex;
  align-items: center;
  padding: 25px;
}
